@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-tinos);
  --font-mono: var(--font-tinos);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #e3e3e3;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
